body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1e1e2f;
    color: #fff;
}

.container {
    margin-top: 20px;
}

.informacoes_basicas{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181C24;
    height: 100px;
    margin-right: auto;
    border: 1px solid transparent;


    border-image-slice: 1;
    margin-left: 1%;
    


}

h1 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #72A0C1;
}

.icone {
    width: 40px;
    height: 40px;
    fill: #72A0C1;
}

.charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

canvas {
    background-color: #2a2a3d;
    padding: 15px;
    border-radius: 8px;
}

footer a {
    color: #72A0C1;
}

#faturamento_mensal, #relatorio_despesas, #produtos_mais_vendidos, #funcionarios_do_mes {
    width: 100% !important; /* Assegura que o gráfico ocupe 100% da largura do contêiner */
    height: 80% !important; /* Assegura que o gráfico ocupe 100% da altura do contêiner */
}